body {
    background-color: rgb(101, 152, 175);
}
h1{
    /*border:1px solid red;*/
    text-align: center;
    height:200px;
}
.container{
    /*border:1px solid black;*/
    margin-top: 20%;
    margin-left: 20%;
    margin-right:10%;

}